_site
.sass-cache
node_modules
.DS_STORE
.SG_resale_flats_cleanup.py
.SG_resale_flats_dashboard.py
.Titanic Machine Learning from Disaster.ipynb
.Titanic Machine Learning from Disaster.ipynb
.Predicting Heart Disease.ipynb
.Edureka_Techathon.ipynb
./sg-resale-flat-app
.NDSC2019.py
