 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>

  <div class="user-competitions">
   <h1><center> Participated Competitions</center></h1>
    <p> 
      <strong>RShiny Compeition 2020 (March 2020)</strong> 
      <br />
      Create a web application using Rshiny. Apps are judged based on technical merit and/or on artistic achievement (e.g., UI design)
      <br />
      <br />

      <strong>Shopee I'm the Best Coder Challenge (October 2019)</strong> 
      <br />
      I’m the Best Coder! Challenge 2019 is a one-day data analytics competition, open to all students and professionals. The competition consists of 2 rounds of data analysis problems designed by Shopee tech teams. Participants must analyse the dataset, draw insightful conclusions and solve the problems in a specified amount of time.
      <br />
      <br />

      <strong>Data Arcade Tournament (September 2019)</strong> 
      <br />
      The Data Arcade Tournament is an annual public sector visual analytics competition, organised by the Data Science and Artificial Intelligence Division (DSAID) of the Government Technology Agency of Singapore (GovTech).
      <br />
      <br />

      <strong>Edureka Techathon (August 2019)</strong>
      <br />
      Perform feature selection by studying the relations between the variables in the data set and understand the importance of each variable with respect to the target feature, i.e., the price of the car. Perform data wrangling, extensive EDA and define a performance metrics that describes the price of a used car. Create a deployable model which takes test set as input and generates a csv file with predicted values of the target variable as output.
      <br />
      <br />

      <strong> Shopee National Data Science Challenge (March 2019) </strong>
      <br />
      The theme of the National Data Science Challenge 2019 is Product Information Extraction in the Wild - a challenge to extract insightful knowledge from large volumes of textual and visual data using Machine Learning Analytics.
      <br />
      <br />
    </p>
  </div>

  <div class="user">
    <div class="tech">
      <h2>Programming</h2>
      <img src="/assets/img/python-logo-4.png" alt="logo" style="width:100px; height:100px;"/>
      <img src="/assets/img/RStudio-Logo-Flat.png" alt="logo" style="width:220px; height:100px;" />
      <p>My main programming skills are Python and R in which i use it at work everyday for my analytics and automation work.</p>
    </div>

  <div class="tech">
      <h2>Visualization</h2>
      <img src="/assets/img/Tableau-Logo-for-website.jpg" alt="logo" style="width:100px; height:100px;"/>
      <img src="/assets/img/Rshiny.png" alt="logo" style="width:100px; height:100px;"/>
      <img src="/assets/img/dash-logo-by-plotly-stripe.png" alt="logo" style="width:220px; height:100px;"/>
      <p>My main visualization tool is Tableau in which i use it to create interactive dashboards for my organization. I also use Dash and RShiny to create interactive web application.</p>
  </div>
</div>
