 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>

  <div class="user-competitions">
   <h1><center> Participated Competitions</center></h1>
    <p> 
      <strong>E-Commerce Analytics Hackathon (April 2020)</strong> 
      <br />
      The hackathon was organised by Analytics Vidhya and it ran from 10 April to 12 April.
      The dataset contained a list of products viewed by the user in the given session and also the category, sub-category, sub-sub category and the product id. The aim of this hackathon was to predict the gender of the e-commerce's participants based on their product viewing records.
      <br />
      <br />

      <strong>RShiny Compeition 2020 (March 2020)</strong> 
      <br />
      In this competition, i created a university comparison web application using Rshiny. In the web application, users can view their eligible courses by selecting their A Level grades or GPA. In addition, information such as employment rate and mean income are available to provide incoming undergrads a sense of direction. 
      <br />
      <br />

      <strong>Shopee I'm the Best Coder Challenge (October 2019)</strong> 
      <br />
      I’m the Best Coder! Challenge 2019 is a one-day data analytics competition, open to all students and professionals. The competition consists of 2 rounds of data analysis problems designed by Shopee tech teams. Participants must analyse the dataset, draw insightful conclusions and solve the problems in a specified amount of time.
      <br />
      <br />

      <strong>Data Arcade Tournament (September 2019)</strong> 
      <br />
      The Data Arcade Tournament is an annual public sector visual analytics competition, organised by the Data Science and Artificial Intelligence Division (DSAID) of the Government Technology Agency of Singapore (GovTech). In this competition, i used a dataset provided by LinkedIn to analyse issues such as job migration. Tableau was leveraged to create the visualisations necessary to support my findings.
      <br />
      <br />

      <strong>Edureka Techathon (August 2019)</strong>
      <br />
      The aim of this competition was to create a deployable model to predict the price of used car based on other features such as mileage and engine power. Extensive EDA was performed and the final regression model was an ensemble of models.
      <br />
      <br />

      <strong> Shopee National Data Science Challenge (March 2019) </strong>
      <br />
      The theme of the National Data Science Challenge 2019 is Product Information Extraction in the Wild - a challenge to extract insightful knowledge from large volumes of textual and visual data using Machine Learning Analytics. In this competition, text analysis and convolutional neural network was implemented to predict the category of the product.
      <br />
      <br />
    </p>
  </div>

  <div class="user">
    <div class="tech">
      <h2>Programming</h2>
      <img src="/assets/img/python-logo-4.png" alt="logo" style="width:100px; height:100px;"/>
      <img src="/assets/img/RStudio-Logo-Flat.png" alt="logo" style="width:220px; height:100px;" />
      <p>My main programming skills are Python and R in which i use it at work everyday for my analytics and automation work.</p>
    </div>

  <div class="tech">
      <h2>Visualization</h2>
      <img src="/assets/img/Tableau-Logo-for-website.jpg" alt="logo" style="width:100px; height:100px;"/>
      <img src="/assets/img/Rshiny.png" alt="logo" style="width:100px; height:100px;"/>
      <img src="/assets/img/dash-logo-by-plotly-stripe.png" alt="logo" style="width:220px; height:100px;"/>
      <p>My main visualization tool is Tableau in which i use it to create interactive dashboards for my organization. I also use Dash and RShiny to create interactive web application.</p>
  </div>
</div>
