<div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>

<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
<div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="joannakhek" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://sg.linkedin.com/in/joannakhek?trk=profile-badge">Joanna Khek Cuina</a></div>


