<div class="user-competitions">
<h1><center> Participated Competitions</center></h1>
 <p> 
   <strong>Shopee Code League - Marketing Analytics (August 2020)</strong> 
   <br />
   Shopee Code League is a 2-month online coding challenge consisting of a series of competitions, online algorithm questions and online training workshops open to all undergraduate students and professionals across the region (Singapore, China, Indonesia,
   Malaysia, Philippines, Taiwan, Thailand and Vietnam). In this Marketing Analytics, the aim is to build a model that can predict whether a user opens the emails sent by Shopee. The dataset contains information about user-specific information, the email nature, user's engagement on the platform and user's reaction to the email. My submission was ranked 54/354 in the Private Leaderboard (Top 16%).
   <br />
   <br />

   <strong>Shopee Code League - Product Detection (July 2020)</strong> 
   <br />
   Shopee Code League is a 2-month online coding challenge consisting of a series of competitions, online algorithm questions and online training workshops open to all undergraduate students and professionals across the region (Singapore, China, Indonesia,
   Malaysia, Philippines, Taiwan, Thailand and Vietnam). In this product detection competition, a multiple image classification model needs to be built. There are ~100k images within 42 different categories, including essential medical tools like masks, protective suits and thermometers, home & living products like air-conditioner and fashion products like T-shirts, rings, etc.
   I adopted the fast.ai approach and my submission was ranked 130/646 in the Private Leaderboard (Top 21%).
   <br />
   <br />

   <strong>E-Commerce Analytics Hackathon (April 2020)</strong> 
   <br />
   The hackathon was organised by Analytics Vidhya and it ran from 10 April to 12 April.
   The dataset contained a list of products viewed by the user in the given session and also the category, sub-category, sub-sub category and the product id. The aim of this hackathon was to predict the gender of the e-commerce's participants based on their product viewing records.
   <br />
   <br />

   <strong>RShiny Compeition 2020 (March 2020)</strong> 
   <br />
   In this competition, I have created a university comparison web application using Rshiny. In this web application, users can view their eligible courses by selecting their A Level grades or GPA. In addition, information such as employment rate and mean income are also available to provide incoming undergrads a sense of direction. 
   <br />
   <br />

   <strong>Shopee I'm the Best Coder Challenge (October 2019)</strong> 
   <br />
   I’m the Best Coder! Challenge 2019 is a one-day data analytics competition, open to all students and professionals. The competition consists of 2 rounds of data analysis problems designed by Shopee tech teams. Participants must analyse the dataset, draw insightful conclusions and solve the problems in a specified amount of time.
   <br />
   <br />

   <strong>Data Arcade Tournament (September 2019)</strong> 
   <br />
   The Data Arcade Tournament is an annual public sector visual analytics competition, organised by the Data Science and Artificial Intelligence Division (DSAID) of the Government Technology Agency of Singapore (GovTech). In this competition, I used a dataset provided by LinkedIn to analyse issues such as job migration and Tableau was used to create the visualisations necessary to support my findings.
   <br />
   <br />

   <strong>Edureka Techathon (August 2019)</strong>
   <br />
   The aim of this competition was to create a deployable model to predict the price of used car based on other features such as mileage and engine power. Extensive EDA was performed and the final regression model was an ensemble of models.
   <br />
   <br />

   <strong> Shopee National Data Science Challenge (March 2019) </strong>
   <br />
   The theme of the National Data Science Challenge 2019 is Product Information Extraction in the Wild - a challenge to extract insightful knowledge from large volumes of textual and visual data using Machine Learning Analytics. In this competition, text analysis and convolutional neural network was implemented to predict the category of the product.
   <br />
   <br />
 </p>
</div>