<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
        <span class="site-description">{{site.user_country}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/joannakhek/"><i class="icon fa fa-envelope" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/Joanna-Khek/joanna-khek.github.io"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#skills" data-scroll>Skills</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
