<div class="user-details">
  <h1> My Projects </h1>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> Newspaper Topic Modelling </h3>
    <ul>
      <li> Natural Language Processing </li>
    </ul>
    <p>In this project, i extracted various newspaper articles content and performed topic modelling using Gensim and Scikit-learn.</p>
    <a class="project-link" href="https://github.com/Joanna-Khek/joanna-khek.github.io/blob/master/Topic%20Modelling%20with%20Gensim%20and%20Scikit-Learn.ipynb">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h3> Singapore Resale Flat Prices Web Application </h3>
    <ul>
      <li> Dash Web Application </li>
    </ul>
    <p>Using resale flat prices data available on data.gov.sg, i created a simple web application using dash to show visualizations about trends. Web application hosted using heroku app. </p>
    <a class="project-link" href="https://sg-resale-flat-app.herokuapp.com/">Check it out</a>
  </div>
</div>
