<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="newsapaper" src="{{ "assets/img/straits-times-file-photo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Newspaper Topic Modelling </h3>
    <ul>
      <li> Natural Language Processing </li>
    </ul>
    <p>Various newspaper articles were extracted and topic modelling was performed using Gensim and Scikit-learn.</p>
    <a class="project-link" href="https://github.com/Joanna-Khek/joanna-khek.github.io/blob/master/Topic%20Modelling%20with%20Gensim%20and%20Scikit-Learn.ipynb">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/hdb.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Singapore Resale Flat Prices Web Application </h3>
    <ul>
      <li> Dash Web Application </li>
    </ul>
    <p>Using resale flat prices data available on data.gov.sg, i created a simple web application using dash to show visualizations on trends. Web application hosted using heroku app. </p>
    <a class="project-link" href="https://sg-resale-flat-app.herokuapp.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/heart-health.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Predicting Heart Disease </h3>
    <ul>
      <li> Data Science Competition </li>
    </ul>
    <p>Competition was hosted on drivendata.org. The dataset contains various measurements on patient health and cardiovascular statistics. The aim is to predict whether a patient has heart disease.</p>
    <a class="project-link" href="https://github.com/Joanna-Khek/joanna-khek.github.io/blob/master/Predicting%20Heart%20Disease.ipynb">Check it out</a>
  </div>
</div>