<div class="user-details">
  <h1> Projects </h1>
</div>

 <div class="user-projects">
  <div class="images-right">
    <img alt="st-bt" src="{{ "assets/img/hdb_resale.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> HDB Resale Prices Web Application </h3>
    <ul>
      <li> Streamlit Web Application </li>
    </ul>
    <p>The goal of this web application is to assist users in finding a suitable HDB resale flat in Singapore. The data is obtained from data.gov.sg and OneMap via their API. Users can find out how much they will need approximately for buying a flat in the respective towns, the relationship of resale prices and remaining lease years in the various towns and flat type, potential units which are categorised into low, medium and high price to aid users in their selection and more!</p>
    <a class="project-link" href="https://github.com/Joanna-Khek/hdb_resale_prices">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="st-bt" src="{{ "assets/img/free_music.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Free Music @ Esplanade News </h3>
    <ul>
      <li> Telegram Bot Scraper </li>
    </ul>
    <p>My partner and I are both musicians and we love attending music performances together. The Esplanade Singapore frequently organises free music performances and we thought it will be great if we can get notifications of any new upcoming performances as soon as possible since some performances require registration and tickets might be snapped up fast!</p>
    <a class="project-link" href="https://github.com/Joanna-Khek/free_music_esplanade_news">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="youtube" src="{{ "assets/img/youtube_data_analysis.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Youtube Data Analysis </h3>
    <ul>
      <li> Youtube API </li>
    </ul>
    <p>In this project, I will be analysing one of my favourite youtube channel BeatEmUps. I have been following this channel for a really long time and I have to say that Wood Hawker (content creater of this channel) is extremely creative. His videos never fail to put a smile on my face! At the end of the analysis, I find out what are his best and worst performing videos. </p>
    <a class="project-link" href="https://github.com/Joanna-Khek/youtube_api">Check it out</a>
  </div>
</div>


  <div class="user-projects">
  <div class="images-left">
    <img alt="st-bt" src="{{ "assets/img/neural_thumbnail.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Neural Image Caption Generation </h3>
    <ul>
      <li> DSA5204: Deep Learning and Applications </li>
    </ul>
    <p>As part of my graduate module DSA5204: Deep Learning and Applications, we were required to reproduce and extend one recent research paper on deep learning published in a reputable machine learning publication. For my group, we decided to reproduce the "Show, Attend and Tell: Neural Image Caption Generation" paper. Image captioning is the idea of taking an image and then producing a sentence that describes the image. The paper uses concepts such as Encoder-Decoder, Attention Mechanism and Long Short Term Memory. </p>
    <a class="project-link" href="https://github.com/Joanna-Khek/neural_image_caption_generation">Check it out</a>
  </div>
</div>


  <div class="user-projects">
  <div class="images-right">
    <img alt="telegram" src="{{ "assets/img/foodie_khek_thumbnail.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Foodie Khek Telegram Bot </h3>
    <ul>
      <li> Telegram Bot </li>
    </ul>
    <p>What shall we eat today? What good food can I find in this area? Sounds familiar? To solve this problem, I decided to spend my winter break building a simple telegram bot that generate food choices from my preferred location. The list of food choices were scrapped from DanialFoodDiary and EatBook using Python.</p>
    <a class="project-link" href="https://github.com/Joanna-Khek/foodie-khek/">Check it out</a>
  </div>
</div>
  <div class="user-projects">
  <div class="images-left">
    <img alt="nuswhipers" src="{{ "assets/img/nuswhispers.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> NUSWhispers Explorer </h3>
    <ul>
      <li> Flask Web Application </li>
    </ul>
    <p>As an avid NUSWhispers reader, I have always wanted to know what are the main ideas behind each topic category, the average number of comments, shares and reactions in each topic category etc. Using python to perform web scraping and flask to develop the web application, I get to easily have my questions answered! The website will be updated every month! </p>
    <a class="project-link" href="https://github.com/Joanna-Khek/nuswhispers_explorer">Check it out</a>
  </div>
</div> 
  <div class="user-projects">
  <div class="images-right">
    <img alt="st-bt" src="{{ "assets/img/wids.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Diabetes Prediction </h3>
    <ul>
      <li> Data Science Competition </li>
    </ul>
    <p>The aim of this competition is to build a model to determine whether a patient admitted to an ICU has been diagnosed with a particular type of diabetes, Diabetes Mellitus. The leaderboard was evaluated on the Area under the Receiver Operating Characteristic (ROC) curve between the predicted and the observed target. I ensembled three models using Catboost and LGBM. My submission was ranked 48/808 in the Private Leaderboard (Top 6%). </p>
    <a class="project-link" href="https://nbviewer.jupyter.org/github/Joanna-Khek/joanna-khek.github.io/blob/master/WiDS%202021/WiDS_Datathon_2021_%28Final%29.ipynb">Check it out</a>
  </div>
</div>
 <div class="user-projects">
  <div class="images-left">
    <img alt="st-bt" src="{{ "assets/img/Shopee-code-league-2020-banner.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Marketing Analytics </h3>
    <ul>
      <li> Data Science Competition </li>
    </ul>
    <p>In this Marketing Analytics, the aim is to build a model that can predict whether a user opens the emails sent by Shopee. The dataset contains information about user-specific information, the email nature, user's engagement on the platform and user's reaction to the email. My submission was ranked 54/354 in the Private Leaderboard (Top 16%). </p>
    <a class="project-link" href="https://nbviewer.jupyter.org/github/Joanna-Khek/marketing_analytics/blob/master/Shopee%20Code%20League%20-%20Marketing%20Analytics.ipynb">Check it out</a>
  </div>
</div> 
<div class="user-projects">
  <div class="images-right">
    <img alt="st-bt" src="{{ "assets/img/Artists.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Spotify Explorer </h3>
    <ul>
      <li> Dash Web Application </li>
    </ul>
    <p>As a long time Spotify user, I wanted to explore my music taste. This web application allows me to see my all-time and current top artists, tracks, track details. Will be including more features in the future. </p>
    <a class="project-link" href="https://github.com/Joanna-Khek/spotify_explorer">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="st-bt" src="{{ "assets/img/Shopee-code-league-2020-banner.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Product Detection </h3>
    <ul>
      <li> Image Classification </li>
    </ul>
    <p>In this product detection competition, a multiple image classification model needs to be built. There are ~100k images within 42 different categories, including essential medical tools like masks, protective suits and thermometers, home & living products like air-conditioner and fashion products like T-shirts, rings, etc.
    I adopted the fast.ai approach and my submission was ranked 130/646 in the Private Leaderboard (Top 21%).</p>
    <a class="project-link" href="https://nbviewer.jupyter.org/github/Joanna-Khek/joanna-khek.github.io/blob/master/Product%20Detection/Shopee%20Code%20League%20-%20Product%20Detection%20%28FastAI%29.ipynb">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="st-bt" src="{{ "assets/img/machine_learning.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Machine Learning for Banking </h3>
    <ul>
      <li> Machine Learning </li>
    </ul>
    <p>This hackathon was organised by Analytics Vidhya and it ran from 29 May to 31 May. The goal of this project is to predict the loan rate category using various factors such as employment, loan amount and debt.</p>
    <a class="project-link" href="https://nbviewer.jupyter.org/github/Joanna-Khek/joanna-khek.github.io/blob/master/Machine%20Learning%20for%20Banking/JanataHack%20-%20Machine%20Learning%20for%20Banking.ipynb">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="st-bt" src="{{ "assets/img/AC_Thumbnail_3.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Animal Crossing Villager Insights </h3>
    <ul>
      <li> RShiny Web Application </li>
    </ul>
    <p>I have been enjoying Animal Crossing New Horizon and stumbled upon a villager popularity list. I wondered about the factors contributing to the popularity of the different villagers and decided to do up a Shiny dashboard to explore. The project involves web scraping from different sources. </p>
    <a class="project-link" href="https://joanna-khek.shinyapps.io/Animal_Crossing_Villager_Insights/?_ga=2.254270092.549430059.1589619887-1260446202.1570436635">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="st-bt" src="{{ "assets/img/Janata_HR.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> HR Analytics Hackathon </h3>
    <ul>
      <li> Predictive Modelling </li>
    </ul>
    <p>The hackathon was organised by Analytics Vidhya and it ran from 8 May to 10 May. 
       The aim is to predict the probability of whether an enrollee is likely look for a new job using factors such as gender, education level, experience, company size, company type.</p>
    <a class="project-link" href="https://github.com/Joanna-Khek/joanna-khek.github.io/blob/master/HR%20Analytics%20Hackathon/JanataHack%20-%20HR%20Analytics.ipynb">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="st-bt" src="{{ "assets/img/AnalyticsVidhya_edited.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> E-Commerce Analytics Hackathon </h3>
    <ul>
      <li> Data Science Compeition </li>
    </ul>
    <p>The hackathon was organised by Analytics Vidhya and it ran from 10 April to 12 April.
      The dataset contained a list of products viewed by the user in the given session and also the category, sub-category, sub-sub category and the product id. The aim of this hackathon is to predict the gender of the e-commerce's participants based on their product viewing records.</p>
    <a class="project-link" href="https://nbviewer.jupyter.org/github/Joanna-Khek/joanna-khek.github.io/blob/master/E-commerce%20Hackathon/E-Commerce%20Hackathon.ipynb">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="st-bt" src="{{ "assets/img/straits_business.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> The Straits Times & The Business Times Web Scrapper </h3>
    <ul>
      <li> Web Srapper using Selenium in Python </li>
    </ul>
    <p>This web scrapper extracts daily news articles and also automatically download articles into PDF format</p>
    <a class="project-link" href="https://github.com/Joanna-Khek/joanna-khek.github.io/tree/master/Web%20Scrapper">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="hive" src="{{ "assets/img/University_Dashboard_Thumbnail.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> University Comparison Dashboard </h3>
    <ul>
      <li> RShiny Web Application </li>
    </ul>
    <p>A submission for the Rshiny Compeition 2020, this web application allows you to find out what courses you are eligible for, the historical employment rate, salary and more! </p>
    <a class="project-link" href="https://github.com/Joanna-Khek/university_comparison">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="newsapaper" src="{{ "assets/img/straits-times-file-photo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Newspaper Topic Modelling </h3>
    <ul>
      <li> Natural Language Processing </li>
    </ul>
    <p>Various newspaper articles were extracted and topic modelling was performed using Gensim and Scikit-learn.</p>
    <a class="project-link" href="https://nbviewer.jupyter.org/github/Joanna-Khek/joanna-khek.github.io/blob/master/Topic%20Modelling%20with%20Gensim%20and%20Scikit-Learn.ipynb">Check it out</a>
  </div>
</div>
