<div class="user-details">
  <h1><center> Skills</center></h1>
  <div class="tech">
    <h3>Programming</h2>
    <img src="/assets/img/python-logo-4.png" alt="logo" style="width:100px; height:100px;"/>
    <img src="/assets/img/RStudio-Logo-Flat.png" alt="logo" style="width:220px; height:100px;" />
  </div>

  <div class="tech">
    <h3>Visualization</h2>
    <img src="/assets/img/Tableau-Logo-for-website.jpg" alt="logo" style="width:100px; height:100px;"/>
    <img src="/assets/img/Rshiny.png" alt="logo" style="width:100px; height:100px;"/>
    <img src="/assets/img/dash-logo-by-plotly-stripe.png" alt="logo" style="width:220px; height:100px;"/>
    <img src="/assets/img/power-bi.png" alt="logo" style="width:100px; height:100px;"/>
  </div>
</div>