<div class="user-details">
  <h1><center> Skills</center></h1>
  <div class="tech">
    <h3>Programming</h2>
    <img src="/assets/img/python-logo-4.png" alt="logo" style="width:100px; height:100px;"/>
    <img src="/assets/img/RStudio-Logo-Flat.png" alt="logo" style="width:220px; height:100px;" />
  </div>

  <div class="tech">
    <h3>Visualization</h3>
    <img src="/assets/img/Tableau-Logo-for-website.jpg" alt="logo" style="width:100px; height:100px;"/>
    <img src="/assets/img/power-bi-logo-new.png" alt="logo" style="width:120px; height:100px;"/>
  </div>

  <div class="tech">
    <h3>Web Application</h3>
    <img src="/assets/img/flask.png" alt="logo" style="width:125px; height:150x;"/>
    <img src="/assets/img/Rshiny.png" alt="logo" style="width:100px; height:100px;"/>
    <img src="/assets/img/streamlit.png" alt="logo" style="width:150px; height:110px;"/>
    <img src="/assets/img/dash-logo-by-plotly-stripe.png" alt="logo" style="width:220px; height:100px;"/>
  </div>

  <div class="tech">
    <h3>Tools</h3>
    <img src="/assets/img/docker.png" alt="logo" style="width:100px; height:100px;"/>
    <img src="/assets/img/google.png" alt="logo" style="width:180px; height:100px;"/>
    <img src="/assets/img/azure-logo.png" alt="logo" style="width:120px; height:100px;"/>
    <img src="/assets/img/fastapi-logo.png" alt="logo" style="width:150px; height:90px;"/>
    <img src="/assets/img/git-logo.png" alt="logo" style="width:165px; height:110px;"/>
  </div>
</div>